#label {
    font-weight: bold;
    font-size: 16px;
    color: cyan;
}

#upload {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#label-dropdown {
    margin-bottom: 20px;
    color: #37474f;
    font-weight: bold;
}

select {
    margin-left: 10px;
}

.material-icons {
    margin-right: 20px;
}

#file-select {
    cursor: pointer;
}

.image-stat-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}